.env
.env.*
!.env.example

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/

data/raw/*
!data/raw/.gitkeep
data/rag_documentos/*
data/processed/*
!data/processed/.gitkeep
logs/
mlartifacts/
mlflow.db
qdrant_storage/
*.log
.DS_Store
